.progressbar{
    
    background: white;
    display: grid;
   
    height: 164px;
    width: 390px;
    position: absolute;
    top: 59px;
    
    
}

.login {
    background-color: #e5e5e5;
    display: grid;
   
    position: absolute;
    top: 223px;
    height: 660px;
    width: 390px;
}

.loginHeading{
    font-weight: 600;
    font-size:36px;
    margin: 32px;
}

.emailForm{
    border: solid 1px black;
    width: 326px;
    height: 49px;
    position: absolute;
    top: 116px;
    margin-left: 32px;
    margin-right: 32px;
    background: #e5e5e5;
    
}

.emailForm::placeholder{
  color: black;
  opacity: 1;
    
}

.passwordForm{
    border: solid 1px black;
    width: 326px;
    height: 49px;
    position: absolute;
    top: 175px;
    margin-left: 32px;
    margin-right: 32px;
    background: #e5e5e5;
}

.passwordForm::placeholder{
    color: black;
    opacity: 1;
}
.forgetPassword{
    position: absolute;
    top: 223px;
    left: 240px;
    border-bottom: 1px solid black;
}

.loginSubmitButton{
    width: 326px;
    height: 50px;
    margin-left: 32px;
    margin-right: 32px;
    background: black;
    color: white;
    position: absolute;
    top: 284px;
    font-size: 20px;
    font-weight: 500;
    border-color: black;

}

.signUpSubmitButton{
    width: 326px;
    height: 50px;
    margin-left: 32px;
    margin-right: 32px;
    background: #e5e5e5;
    color: black;
    position: absolute;
    top: 384px;
    font-size: 20px;
    font-weight: 500;
    border-color: black;
    
}

.ellerDelen{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:360px;
    width: 326px;
    height: 24px;
    
}

.border1{
    border-bottom: 2px solid black;
    width: 138px;
    
    position: absolute;
    
    left: 32px;
    
}

.border2{
    border-bottom: 2px solid black;
    width: 138px;
    position: absolute;
    
    left: 220px;
}

.orText{
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 179px;
    top: -27px;
    font-size: 16px;
    font-weight: normal;
}

.continueGuest{
    border-bottom: 1px solid black;
    position: absolute;
    top: 461px;
    left: 130px;


}

.headingOne {
    position: absolute;
    width: 235px;
    height: 40px;
    left: 32px;
    top: 301px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
}