.progressbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.border-line{
    border-bottom: 1px solid #FBA497;
}






















.count {
    position: relative;
    width: 40px;
    height:40px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 50%;
    font-family: Arial;
    color: #888;
}
.count span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.count:after {
    position: absolute;
    content: "";
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 5px;
    top: 5px;
}
.count:before {
    position: absolute;
    content: "";
    border: 20px solid #FBA497;
    border-radius: 50%;
    height: 0;
    width: 0;
}
.checkmark1 {
    
    display: inline-block;
    transform: rotate(45deg);
    height: 12px;
    width: 5px;
    margin-left: 60%; 
    border-bottom: 3px solid #FBA497;
    border-right: 3px solid #FBA497;
    position: absolute;
  }