.firstNameNote{
    position: absolute;
    top:112px;
    left: 32px;
    font-size: 16px;
}


.firstName{
    position: absolute;
    top: 150px;
    left: 32px;
    width: 155px;
    height: 42px;
    border: solid 1px black;
    background-color: #e5e5e5;
}

.lastNameNote{
    position: absolute;
    top: 112px;
    left: 203px;
    font-size: 16px;
}

.lastName{
    position: absolute;
    top: 150px;
    left: 203px;
    width: 155px;
    height: 42px;
    border: solid 1px black;
    background-color: #e5e5e5;
}

.emailNote{
    position: absolute;
    top: 198px;
    left: 32px;
    font-size: 16px;
}

.emailForm{
    position: absolute;
    top: 236px;
    
    width: 326px;
    height: 42px;
    border: solid 1px black;
}

.passwordNote{
    position: absolute;
    top: 284px;
    left: 32px;
    font-size: 16px;
}

.passwordForm{
    position: absolute;
    top: 325px;
    
    width: 326px;
    height: 42px;
    border: solid 1px black;
}

.confirmPasswordNote{
    position: absolute;
    top: 370px;
    left: 32px;
    font-size: 16px;
}

.confirmPasswordForm{
    position: absolute;
    top: 380px;
    margin: 32px;
    width: 326px;
    height: 42px;
    border: solid 1px black;
    background-color: #e5e5e5;
}

.signUpSubmitButton1{
    width: 326px;
    height: 50px;
    margin-left: 32px;
    margin-right: 32px;
    background: black;
    color: white;
    position: absolute;
    top: 492px;
    font-size: 20px;
    font-weight: 500;
    border-color: black;
}