
#signup{
    background-color: #F4F4F4;
    display: grid;
    
    position: absolute;
    top: 163px;
    height: 795px;
    width: 390px;

}

.datePicker{
    height: 48px;
    width: 326px;
    position: absolute;
    top: 687px;
    left: 32px;
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
}

.loginHeading{
    position: absolute;
    top: 40px;
    left: 32px;
}

.firstNameNote{
    position: absolute;
    top:104px;
    left: 32px;
    font-size: 16px;
    
    
}


.firstName{
    position: absolute;
    top: 144px;
    left: 32px;
    width: 320px;
    height: 42px;
    border: solid 1px black;
    background-color: white;
    
}



.lastNameNote{
    position: absolute;
    top: 208px;
    left: 32px;
    font-size: 16px;
    
}

.lastName{
    position: absolute;
    top: 248px;
    left: 32px;
    width: 320px;
    height: 42px;
    border: solid 1px black;
    background-color: white;
    

}

.emailNote{
    position: absolute;
    top: 308px;
    left: 32px;
    font-size: 16px;
}

.emailForm{
    position: absolute;
    top: 348px;
    left: 32px;
    width: 320px;
    height: 42px;
    border: solid 1px black;
    background-color: white;
    
}

.passwordNote{
    position: absolute;
    top: 408px;
    left: 32px;
    font-size: 16px;
}

.passwordForm{
    position: absolute;
    top: 448px;
    left: 32px;
    width: 320px;
    height: 42px;
    border: solid 1px black;
    background-color: white;
   
}

.confirmPasswordNote{
    position: absolute;
    top: 545px;
    left: 32px;
    font-size: 16px;
}

.confirmPasswordForm{
    position: absolute;
    top: 585px;
    margin-left: 32px;
    width: 320px;
    height: 42px;
    border: solid 1px black;
    background-color: white;
    
}

.signUpSubmitButton1{
    width: 334px;
    height: 50px;
    margin-left: 32px;
    
    background: black;
    color: white;
    position: absolute;
    top: 657px;
    font-size: 20px;
    font-weight: 500;
    border-color: black;
}

.signUpInfo{
    position: absolute;
    top: 520px;
    left: 32px;
}

.infoText{
    position: absolute;
    top: 503.5px;
    left: 60px;
}

#postNummerForm{
    width: 140px;
}

#ortForm{
    top: 448px;
    right: 203px;
    width: 140px;
    right: 25px;
}

#ortNote{
    top: 408px;
    
    left:210px;
}


#errorFirstName{
    position: absolute;
    color: red;
    left: 32px;
    top: 174px;
}

#errorLastName{
    position: absolute;
    color: red;
    left: 32px;
    top:  278px;
}

#errorCheckEmail{
    position: absolute;
    top: 380px;
    left: 32px;
    color: red;
}

#errorCheckPassword{
    position: absolute;
    top: 497px;
    left: 32px;
    color: red;

}

#errorCheckConfirmedPassword{
    position: absolute;
    top: 437px;
    left: 32px;
    color: red;
}

.login {
    background-color: #F4F4F4;
    display: grid;
    
    position: absolute;
    top: 163px;
    height: 700px;
    width: 390px;
}

.loginHeading{
    font-weight: 600;
    font-size:36px;

    position: absolute;
    top: 40px;
    left: 32px;
    
}

.emailForm1{
    border: solid 1px black;
    width: 326px;
    height: 48px;
    position: absolute;
    top: 110px;
    margin-left: 32px;
    margin-right: 32px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
    
    
}

.emailForm1::placeholder{
  color: black;
  opacity: 1;
  font-family: 'Outfit';
  font-size:16px;
  font-weight: normal;
    padding-left: 40px;
}


.passwordForm1{
    border: solid 1px black;
    width: 326px;
    height: 48px;
    position: absolute;
    top: 182px;
    margin-left: 32px;
    margin-right: 32px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
    
}

.passwordForm1::placeholder{
    font-family: 'Outfit';
    color: black;
  opacity: 1;
  padding-left: 40px;
  font-size:16px;
  font-weight: normal;
}
.forgetPassword{
    position: absolute;
    top: 240px;
    left: 32px;
    border-bottom: 1px solid black;
}

.loginSubmitButton{
    width: 326px;
    height: 50px;
    margin-left: 32px;
    margin-right: 32px;
    background: #1F1E1F;
    color: white;
    position: absolute;
    top: 302px;
    font-size: 20px;
    font-weight: 500;
    border-color: #1F1E1F;

}

.signUpSubmitButton{
    width: 326px;
    height: 50px;
    border: solid 2px blackbean;
    margin-left: 32px;
    margin-right: 32px;
    background-color: #F4F4F4;
    color: #1E281E;
    position: absolute;
    top: 402px;
    font-size: 20px;
    font-weight: 500;
    border-color: #1E281E;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    
    
}

.option{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 378px;
    
    width: 326px;
    height: 24px;
    
}

.border1{
    border-bottom: 2px solid black;
    width: 138px;
    
    position: absolute;
    
    left: 32px;
    
}

.border2{
    border-bottom: 2px solid black;
    width: 138px;
    position: absolute;
    
    left: 220px;
}

.orText{
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 179px;
    top: -27px;
    font-size: 16px;
    font-weight: normal;
}

.continueGuest{
    border-bottom: 1px solid black;
    position: absolute;
    top: 461px;
    left: 32px;
    font-size: 16px;
    font-weight: normal;


}

.headingOne {
    position: absolute;
    width: 235px;
    height: 40px;
    left: 32px;
    top: 301px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
}

