@import url('https://fonts.googleapis.com/css?family=Outfit');
  


body {
    z-index: 1;
    font-family: 'Outfit';
    background: #f4f4f4;
    display: grid; 
  
    margin: 0;
  
    overflow:scroll;
   
}
    
#_next {
   
        display: grid;
        grid-auto-flow: row ;
        grid-auto-rows: 10%;
        grid-template-columns: unset; 
        grid-template-rows: unset;
        scroll-behavior: smooth;
    
}