html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#_next {
   
  display: grid;
  grid-auto-flow: row ;
  grid-auto-rows: 10%;
  grid-template-columns: unset; 
  grid-template-rows: unset;
  scroll-behavior: smooth;

}