

.progress-bar{
    display: flex;
    background-color: white;
    margin: -45px 0;
    user-select: none;
  }
.progress-bar .step{
    text-align: center;
    width: 100%;
    position: relative;
  }
.progress-bar .step p{
    font-weight: 500;
    margin-top: 30px;
    font-weight: bolder;
    font-size: 12px;
    color: #FBA497;
    margin-bottom: 20px;
  }
  .progress-bar .step .bullet{
    margin-top: -15px;;
    height: 32px;
    width: 32px;
   
    border: 2px solid #FBA497;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
  }
  .progress-bar .step .bullet.active{
    border-color: #FBA497;
    background: #FBA497;
  }
  .progress-bar .step .bullet span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .progress-bar .step .bullet.active span{
    display: none;
  }
  .progress-bar .step .bullet:before,
  .progress-bar .step .bullet:after{
    position: absolute;
    content: '';
    bottom: 11px;
    right: -51px;
    height: 2px;
    width: 30px;
    background: #FBA497;
  }
  .progress-bar .step .bullet.active:after{
    background: #FBA497;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .progress-bar .step:last-child .bullet:before,
  .progress-bar .step:last-child .bullet:after{
    display: none;
  }
  .progress-bar .step p.active{
    color: #FBA497;
    transition: 0.2s linear;
  }
  .progress-bar .step .check-mark{
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
  }
  .progress-bar .step .check-mark.active{
    display: block;
    color: #FBA497;
  }
  .step .step-name{
    font-size: 10px;
    color: #FBA497;
  }
  .step-number{
      margin-top: 4px;
      font-size: 14px;
      color: #FBA497;
  }
  
