

.firstPage{
    display: grid;
    background-color: #FFC4BB;
    grid-column: 1;
    grid-row: 2/11;
}

.welcomeText{
    z-index: 3;
    margin-top: 60px;
    margin-left: 32px;
    font-size: 35px;
    color: black;
    font-weight: 600;
    position : absolute;
}

.WelcomeText2{
    z-index: 3;
    margin-top: 45px;
    margin-left: 32px;
    margin-bottom: 980px;
    position: absolute;
    color: black;
}

.lunchBoxImg{
    z-index: 2;
    position: absolute;
    margin-top: 116px;
}

.shadowFirstPage{
    position: absolute;
    top: 20px;
    left:-180px;
    
    z-index: 1;
}

.arrowDownFirstPage{
    z-index: 5;
    
    position: absolute;
    top: 748px;
    left: 165px;
    opacity: 0.7;

}

.firstPageButton{
    z-index: 3;
    color: white;
    border: #1F1E1F solid 2px;
    fill: #1F1E1F;
    background: #1F1E1F;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 583px;
    left: 8.25%;
    padding: 0px;
    height: 50px;
    width: 326px;
    font-size: 20px;
    font-weight: 500;
}

.textToChange::before{
    content: 'Vrålkäk!';
    animation: animate 7s;
}

@keyframes animate{
    0%{
        content: '...';
    }
    25%{
        content: 'god mat';
    }
    
    50%{
        content: 'sparad tid';
    }
    75%{
        content: 'mer pengar över';
    }
    100%{
        content: 'aptitretande aromer';
    }
}




.SmoothScroller{
    z-index: 3;
    position: absolute;
    top: 748px;
    left: 175px;
    border: black solid 1px;
    height: 70px;
    width: 40px;
    border-radius: 25px;
    box-shadow: inset 0 0 0 1px black;
    opacity: 0.7;
}

.ScrollerBall{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: black solid 2px;
    box-shadow: inset 0 0 1px black;
    opacity: 0.7;
    margin-left: 7.5px;
    margin-top: 5px;
    
}

@keyframes scroll{
  0%{opacity: 0.7}
    
  100%{opacity: 0;
    transform: translateY(46px)}
  
}
