.foodCardName{
    font-weight: 600;
    color: white;
    font-size: 36px;
    width: 323px;
    display: flex;
    justify-content: center;
    margin-top: 28px;
}

.ekonomenFood{
    position: absolute;
    margin-top: 94px;
    margin-left: 66px;

}

.priceBorder{
    color: white;
    font-weight: 600;
    font-size: 36px;
    border: solid 1px #1F1E1F;
    width: 174px;
    height: 56px;
    line-height: 48px;
    text-align: center;
    align-items: center;
    background: #1F1E1F;
    position: absolute;
    margin-left: 184px;
    margin-top: 341px;
    
}

.textBelowPicture{
    color: white;
    font-size: 16px;
    width: 326px;
    height: 68px;
    font-weight: normal;
    position: absolute;
    line-height: 24px;
    margin-left: 32px;
    margin-top: 433px;
    
}

.ekonomLine{
    border-bottom: solid 1px white;
    width: 326px;
    position: absolute;
    margin-left: 32px;
    margin-top: 521px;
    
}

.foodDescription1{
    position: absolute;
    width: 316px;
    height: 40px;
    margin-left: 40px;
    margin-top: 566px;
}

.pictureToDescription1{
    position: relative;
    margin-top: 6px;
    
    
}

.textToDescription1{
    height: 40px;
    width: 269px;
    position: absolute;
    margin-left: 18px;
    color: white;
    font-weight: normal;
    font-size: 16px;
}

.foodDescription2{
    position: absolute;
    width: 316px;
    height: 40px;
    margin-left: 42px;
    margin-top: 630px;
}

.pictureToDescription2{
    position: relative;
    margin-top: 6px;
    
    
    
}

.textToDescription2{
    height: 20px;
    width: 164px;
    position: absolute;
    margin-left: 18px;
    color: white;
    font-weight: normal;
    font-size: 16px;
}

.foodDescription3{
    position: absolute;
    width: 316px;
    height: 40px;
    margin-left: 42px;
    margin-top: 674px;
}

.pictureToDescription3{
    position: relative;
    margin-top: 6px;
   
}

.textToDescription3{
    height: 20px;
    width: 164px;
    position: absolute;
    margin-left: 18px;
    color: white;
    font-weight: normal;
    font-size: 16px;
}

.ekonomenCallToAction{
    border: solid 1px #1F1E1F;
    background: #1F1E1F;
    color: white;
    width: 326px;
    height: 50px;
    position: absolute;
    margin-left: 33px;
    margin-top: 736px;
    text-align: center;
    
    font-weight: 400;
    font-size: 20px;
}