.main{
    font-family: 'Outfit';
    background: #FFC4BB;
    display: grid;
    height: 100vh;
    margin: 0;
    grid-auto-flow: row ;
    grid-auto-rows: 10%;
    grid-template-columns: unset; 
    grid-template-rows: unset;
    overflow:scroll;
}

.titel{
    font-size: 24px;
    font-weight: 500;
}

.navbar{
    display: grid;
    z-index: 5;
    grid-column: 1;
    grid-row: 1;
    background: white;

    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    height: 60px;
    position: relative;
    

    
}
.insideNavbar{
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    
}

.firstPage{
    display: grid;
    background-color: #FFC4BB;
    grid-column: 1;
    grid-row: 2/11;

}

.companyLogo{
   position: absolute;
   left:260px;
   top:17px;
}
#ekonomen{
    display: grid;
    grid-column: 1;
    grid-row: 11/21;
    
    background-image: linear-gradient(-145deg, #0939BB 30%, #2652C9 30%);
}

#greta{
   display: grid;
   grid-column: 1;
   grid-row: 21/31;
   
background-image: -webkit-linear-gradient(-125deg, #3EA962 30%, #2CBB76 30%);
}

#veganen {
    display: grid;
    grid-column: 1;
    grid-row: 31/41;
    background-color: #CD4141;
    background-image: -webkit-linear-gradient(-125deg, #CD4141 30%, #E35153 30%);
}

.tutorialCard{
    display: grid;
    grid-column: 1;
    grid-row: 41/51;
    background-color: #1F1E1F;
}
.progressBar{
    display: grid;
    grid-column: 1;
    grid-row: 51/61;
    background-color:#fff;
}

.welcomeText{
    z-index: 3;
    margin-top: 60px;
    margin-left: 32px;
    font-size: 35px;
    color: black;
    font-weight: 600;
}

.WelcomeText2{
    z-index: 3;
    margin-top: 45px;
    margin-left: 32px;
    margin-bottom: 980px;

    color: black;
}

.lunchBoxImg{
    z-index: 2;
    position: absolute;
    margin-top: 116px;
}

.shadowFirstPage{
    position: absolute;
    top: 20px;
    left:-180px;
    width: 380px;
    height: 600px;
}

.arrowDownFirstPage{
    z-index: 5;
    position: absolute;
    margin-top: 657px;
    margin-left: 163px;
    opacity: 0.7;

}

.eggImg{
    z-index: 2;
    width: 322px;
    height: 253px;
    position: absolute;
    top: 480px;
    left: -2px;
}

.eggShadowImg{
    z-index: 1;
    width: 322px;
    height: 253px;
    position: absolute;
    top: 505px;
    left: -2px;
}

.salladImg{
    z-index: 2;
    width: 190.76px;
    height: 680.08px;
    position: absolute;
   top:100px;
   right: 0px;
}

.salladShadowImg{
    z-index: 1;
    width: 190.76px;
    height: 680.08px;
    position: absolute;
    top:120px;
    right: 0px;
}

.firstPageButton{
    z-index: 3;
    color: white;
    border: #1F1E1F solid 2px;
    fill: #1F1E1F;
    background: #1F1E1F;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 583px;
    left: 8.25%;
    padding: 0px;
    height: 50px;
    width: 326px;
    font-size: 20px;
    font-weight: 500;
}

.textToChange::before{
    content: 'Vrålkäk!';
    animation: animate 7s;
}

@keyframes animate{
    0%{
        content: '...';
    }
    25%{
        content: 'god mat';
    }
    
    50%{
        content: 'sparad tid';
    }
    75%{
        content: 'mer pengar över';
    }
    100%{
        content: 'aptitretande aromer';
    }
}






/* @media only screen and (min-width : 600px) {
    .firstPage{
        background: red;
    }
    
} */
    
